.allInformation {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.carousel {
    max-width: 40vw;
}

.productInformation {
    max-width: 30vw;
    height: 50vh;
}

.productImage {
    width: 100%;
    height: auto;
    padding-top: 10%;
    margin-bottom: 10%;
}