#carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: stretch;

}

#main-image-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;


  flex: 1 0 0;
}

.carousel-image {
  display: flex;
  height: 14.625rem;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.08);
  position: relative;

}

.carousel-image-container {
  position: relative;
  height: auto;
}

.carousel-image-container .chip {
  position: absolute;
  bottom: 0.625rem;
  right: 0%;
  display: flex;
  padding: 0.25rem 1.375rem 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  background: var(--Colors-Gold, #BC9C2E);
  z-index: 1;
  color: var(--Colors-White, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Familjen Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.selectedProduct {
  color: var(--Colors-Black, #222);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Familjen Grotesk";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.375rem;
  padding-left: 6.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  margin: 2rem;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.1875rem;
  border: 1px solid var(--Colors-Gold, #BC9C2E);
}

/* Tablet */
@media screen and (max-width: 768px) {
  .carousel-image {
    width: 30vw;
  }

  #main-image-container {
    width: 95vw;
  }
}

/* Movil */
@media screen and (max-width: 480px) {
  .carousel-image {
    width: 45vw;
  }

  #main-image-container {
    width: 100vw;
  }
}



/* #main-image-container {
  display: flex;
}

.carousel-image {
  max-width: 25%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
}

#main-image-container .carousel-image:not(.active) {
  transform: scale(0);
}

#thumbnail-container {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
  max-width: 80%;
}

#carousel-container {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

#nav-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#main-image {
  max-height: 70vh;
  width: auto;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.nav-btn {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: black;
}

#prev-btn {
  left: 10px;
  max-width: 10%;

}

#next-btn {
  right: 10px;
  max-width: 10%;

}

#thumbnail-container {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
  max-width: 50%;

}

.thumbnail {
  flex: 0 0 auto;
  margin-right: 5px;
  cursor: pointer;
  max-width: 100px;
  border: 1px solid;

}

.thumbnail img {
  max-width: 50px;
  height: auto;
}

#main-image.zoomed {
  transform: scale(2);
  transition: transform 0.3s ease-in-out;
  max-height: 100vh;

} */