.productInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    padding: 2.5rem 7.5rem 2.5rem 7.5rem
}

.productInformation .topFrame {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.productInformation .topFrame .buttonFrame {}

.productInformation .topFrame .backwardsButton {
    display: flex;
    width: 39px;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid var(--Colors-Gold, #BC9C2E);
    color: #BC9C2E;
}

.productInformation .topFrame .titleFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
}

.productInformation .bottomFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
}

.productInformation .bottomFrame .content {
    display: flex;
    gap: 2.5rem;
    align-self: stretch;
    align-items: center;

}



.productInformation .bottomFrame .textFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    margin-bottom: 15%;
}

.productInformation .bottomFrame .informationFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.productInformation .bottomFrame .informationFrame h4 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Familjen Grotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
}

.productInformation .bottomFrame .description {
    color: var(--Colors-Grey-2, #666);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Familjen Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .productInformation {
        padding: 2.5rem 5rem 0 5rem;
    }

    .productInformation .topFrame {
        align-items: center;
    }

    .productInformation .bottomFrame .content {
        align-items: flex-start;
    }

    .productInformation .bottomFrame .textFrame {
        align-items: flex-start;

    }

    .productInformation .topFrame .titleFrame {
        text-align: center;
        /* Centrar texto */
    }


    .productInformation .bottomFrame .textFrame .informationFrame {
        text-align: center;
        /* Centrar texto */
    }

    .productInformation .bottomFrame .carouselContainer {
        width: 100%;
        /* Ajustar ancho del carrusel */
    }
}

/* Movil */
@media screen and (max-width: 480px) {
    .productInformation {
        padding: 2.5rem 1.5rem 0 1.5rem;
    }

    .productInformation .topFrame {
        display: flex;
        flex-direction: column;
        align-items: stretch
    }

    .productInformation .topFrame .backwardsButton {
        display: flex;
        width: 39px;
        padding: 8px;
        align-items: flex-start;
        align-self: flex-start !important;
        gap: 10px;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid var(--Colors-Gold, #BC9C2E);
        color: #BC9C2E;
    }

    .productInformation .topFrame .buttonFrame {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .productInformation .bottomFrame .content {
        align-items: flex-start;
    }

    .productInformation .bottomFrame .textFrame {
        align-items: flex-start;
        gap: 0;
    }

    .productInformation .bottomFrame .textFrame .informationFrame {
        display: flex;
    }

    .productInformation .bottomFrame .informationFrame h4 {
        font-size: 1.2rem;
    }

    .productInformation .bottomFrame .description {
        font-size: 1rem;
    }

    .productInformation .bottomFrame .carouselContainer {
        width: 100%;
    }
}