#navigation {
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #BC9C2E00, #BC9C2E, #BC9C2E00);
    border-image-slice: 1;

}

.logoLight {
    display: flex;
    width: 137.511px;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6.222px;
    flex-shrink: 0;
}