.contactModal {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.contactModal .email {
    padding-bottom: 1rem;

}

.contactModal .message {
    padding-bottom: 1rem;
}

.contactModal button {
    border-radius: 0.1875rem;
    background: var(--Colors-Gold, #BC9C2E);
    color: white;
    border: 0;
}


.contactModal input {
    border: 1px solid #BC9C2E;
}

.contactModal textarea {
    border: 1px solid #BC9C2E;
}