.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .active {
    opacity: 1;
  }
  
  button {
    cursor: pointer;
  }