#carouselFrame {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2.5rem;
    width: 30%;

}

#carouselFrame .imageFrame {
    width: 100%;
    height: auto;
    position: relative;

}

#carouselFrame .imageFrame .image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

#carouselFrame .imageFrame .icon {
    display: inline-flex;
    padding: 0.25rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.1875rem;
    border: 1px solid var(--Colors-Gold, #BC9C2E);
    background: #FFF;
    position: absolute;
    bottom: 2%;
    right: 5%;
    transform: translate(-50%, -50%);
}

#carouselFrame .thumbnails-container {
    display: flex;
    align-items: center;
    gap: 1.0625rem;
    width: 100%;
    justify-content: space-evenly
}

#carouselFrame .thumbnails-container .thumbnail {
    width: 25%;
    height: auto;
    border: 2px solid var(--Colors-Gold-Light, #F0C73B);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* En Carousel.css */
.modal {
    border: none;
    box-shadow: none;
    position: relative;
    width: auto;
    height: 80vh;
    top: 50%;
}

.modal-body {
    padding: 2rem 0.4rem 0.4rem 0.4rem !important;

}

.modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.1875rem;

}

.modal .close {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #BC9C2E;
}



/* Tablet */
@media screen and (max-width: 768px) {
    #carouselFrame .imageFrame .icon {
        display: inline-flex;
        padding: 0.25rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 0.1875rem;
        border: 1px solid var(--Colors-Gold, #BC9C2E);
        background: #FFF;
        position: absolute;
        bottom: 2%;
        right: 5%;
        transform: translate(-50%, -50%);
    }
}

/* Movil */
@media screen and (max-width: 480px) {
    #carouselFrame {
        width: 40%;
    }

    #carouselFrame .imageFrame .icon {
        transform: scale(0.8);
        padding: 0.125rem;
        gap: 0.3125rem;
        bottom: 0.1rem;
        right: 0.5%;

    }
}