.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    position: relative;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    height: 90vh;

    width: auto !important;
    max-width: 90vw;
}

.closeButton {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
}




/* Tablet */
/* @media screen and (max-width: 768px) {
    .modal-content {
        position: relative;
        background-color: white;
        border: 2px solid;
        border-radius: 5px;
        height: auto;
        width: 90vw;
    }
} */

/* Movil */
/* @media screen and (max-width: 480px) {
    .modal-content {
        position: relative;
        background-color: white;
        border: 2px solid;
        border-radius: 5px;
        height: auto;
        width: 90vw;
    }
} */